<section id="work" class="row odd">
    <div class="container">
        <div class="col-lg-6">
            <h3>事業内容</h3>
            <h4>会計，税務，金融を主としたシステムコンサルティング</h4>
            <p>当社の一番得意とする分野です。 企業を取り巻く環境は，日々刻々と変化しています。数年前まで安定稼働していた自社システムも経済環境の変化や顧客ニーズの変化，ビジネススタイルの変化などにより，蓄積した情報が”生きた”情報でなくなりつつありあります。また様々な業界で法改正も実施されシステム変更を余儀されることも今後も多々ありそうです。我々は，これらの環境の変化にただ付いていくだけではなく，逆に『強み』に変えるという発想で，お客様に”変化に強い最高のシステム”をご提案致します。
            </p>
            <h4>ソフトウェアの設計，開発，販売，保守，管理，教育</h4>
            <p>システムのコンサルティング・ご提案に基づき，ソフトウェアの設計・開発・納入・教育・保守まで，一貫してお任せ下さい。我社では各フェーズ毎に厳しい品質チェックを行い，お客様の仕様に合致した安心してご利用頂けるシステムをご提供します。</p>
            <h4>開発実績</h4>
            <ul>
                <li>税務総合システムの構築（県税）</li>
                <li>ワークフローシステムの開発（企業）</li>
                <li>財務会計システムの構築（市町村）</li>
                <li>地方競馬システムの開発（団体）</li>
                <li>金融システムの構築（地方銀行）</li>
                <li>売上管理システムの開発（企業）</li>
                <li>販売管理システムの設計・開発（企業） 他</li>
            </ul>
        </div>
    </div>
</section>
