<section id="about" class="row odd">
  <div class="container">
    <div class="col-lg-6">
      <h4>ご提案させて下さい</h4>
      <p>現在の業務において，何かお困りのことはございませんか？</p>
      <p>情報を一元化・共有化できないか？
      <p>もっと情報を有効活用できないか？
      <p>もうすぐ法改正があるのだが大丈夫？
      <p>無駄をなくし，作業の効率化を図りたい…
      <p>我々はシステムコンサルティングとして，お客様の立場になり問題の解決と理想の追求のため， 最適かつ最高のシステムをご提案いたします


      <h4>心を込めて作ります</h4>
      <p>私たちの住む家が多くの柱で支えられているように，システムも目には見えませんが数百本にも及ぶプログラムで構成されています。
その１本１本に役割がありシステム全体を支えている大事な柱です。この柱がお客様の現場で機能を十分発揮できるよう“１本入魂！”
心を込めて作ります。


      <h4>なにか問題はございませんか？</h4>
      <p>製作・納入・入金が済めば全て終わり！ではありません。ご導入いただいたシステムが，常にお客様に安心してご使用頂けますように，
充実したアフターサービスが我が社のモットーです。
「ありがとう」
この感謝の一言が，ＷＩＳＨシステムコンサルティングの原動力となっております。</p>


    </div>
  </div>
</section>