<section id="about" class="row odd">
    <div class="container">
        <div class="col-lg-6">
            <h4>会社概要</h4>
            <dl class="outline">
                <dt>会社名</dt>
                <dd>
                    株式会社　ＷＩＳＨシステムコンサルティング
                    <br> WISH SYSTEM CONSULTING,Inc.
                </dd>
                <dt>設　立</dt>
                <dd>２００５年（平成１７年）４月２０日</dd>
                <dt>資本金</dt>
                <dd>１，０００万円</dd>
                <dt>代表取締役</dt>
                <dd>桑村　英利</dd>
                <dt>取締役</dt>
                <dd>松本　隆英</dd>
                <dt>取締役</dt>
                <dd>永冨　保夫</dd>
                <dt>取締役</dt>
                <dd>服部　義明</dd>
                <dt>従業員数</dt>
                <dd>３２名</dd>
                <dt>本社所在地</dt>
                <address>
                    <dd>
                        〒８９２－０８４２
                        <br> 鹿児島市東千石町１４－１０　天文館三井生命南国テレホンビル７Ｆ　　アクセス方法はコチラ
                        <br> ＴＥＬ：０９９－２１９－７６２３
                        <br> ＦＡＸ：０９９－２１９－７６３２
                    </dd>
                </address>
                <dt>福岡ｵﾌｨｽ所在地</dt>
                <address>
                    <dd>
                        〒８１４－０００１
                        <br> 福岡市早良区百道浜２丁目１番２２号　福岡ソフトリサーチパーク　３１１号
                        <br> ＴＥＬ：０９２－８３２－２２５０
                        <br> ＦＡＸ：０９２－８３２－２２５１
                    </dd>
                </address>
                <dt>決算期</dt>
                <dd>３月３１日</dd>
                <dt>取引銀行</dt>
                <dd>鹿児島銀行</dd>
                <dt>資　格</dt>
                <dd>
                    ＩＴコーディネータ
                    <br> SAP R/3(財務会計)
                    <br> ソフトウェア開発技術者
                    <br> Oracle Mastaer GOLD
                    <br> 日商簿記２級
                    <br> ビジネスキャリア中級（会計原則・商法会計，財務諸表） 等
                </dd>
            </dl>
        </div>
    </div>
</section>
